<div class="px-4 py-10">
  <div class="bg-white shadow-lg rounded-2xl w-full py-8 px-4 space-y-6">
    <div class="text-center mb-5">
      <h2 class=" text-2xl font-bold text-gray-800">例え編集</h2>
    </div>
    <%= render 'topics/description', topic: @topic %>
    <%= render 'form', answer: @answer %>
  </div>
</div>