<% content_for(:title, @answer.body) %>
<div class="px-4 py-10">
  <div class="bg-white shadow-lg rounded-2xl w-full py-8 px-4 space-y-6">
    <div class="text-center mb-5">
      <h2 class=" text-2xl font-bold text-gray-800">例え詳細</h2>
    </div>
    <!-- お題タイトルとジャンル -->
    <div>
      <div class="flex mb-3">
        <% @topic.genres.each do |genre| %>
        <span class="bg-[#E0F2FE] text-[#0369A1] text-xs px-2 py-1 rounded-full mr-1"><%= genre.name %></span>
        <% end %>
      </div>
      <div class="divide-y-2 divide-gray-200">
        <h2 class="text-xl font-medium text-gray-400 text-opacity-20 mb-3 pb-3"><%= @answer.topic.title %><h2>
      </div>
    </div>
    <!-- 例え情報(アバター、ユーザー名、公開日付) -->
    <div>
      <!-- アバター、ユーザー名 -->
      <div>

      </div>
      <!-- 公開日付 -->
      <div>
      </div>
    </div>
    <!-- 例え本文(例え、説明文) -->
    <div>
    </div>
    <!-- 例えリアクション -->
    <div>
    </div>
    <!-- コメント入力フォーム(できればstimulus使用して動的に動作) -->
    <div>
    </div>
    <!-- コメントタイトル(件数も表示) -->
    <div>
    </div>
    <!-- 並び替えボタン -->
    <div>
    </div>
    <!-- コメントコンポーネント -->
    <div>
      <%= render 'comment', comment: @comments%>
    </div>
  </div>
</div>