<p><%= @resource.email %>様</p>

<p>Tatoeをご利用いただき、ありがとうございます。</p>
<p>下記リンクより、パスワードの再設定をお願いいたします。
</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>このメールにお心当たりのない方、ご不明な点がございましたら、以下のページにお問い合わせください。<br>
  お問い合わせページ(未実装)</p>

<p>Tatoe運営チーム</p>